openapi: 3.0.1
info:
  title: Alor OpenAPI V2
  description: |
    API для работы с торговой системой АЛОР Брокер. Предоставляет интерфейсы для выставления заявок и получения биржевой информации.
    
    Данные для неавторизованных запросов предоставляются с задержкой от 15 минут, для авторизованных — без задержек. 
    
    Публичная биржевая информация может быть получена через HTTP(S) API, а также доступна через однократно установленное WebSocket соединение.
    
    **Внимание!**
    WebSocket соединения могут и будут разрываться *(например, если клиент не успевает обрабатывать сообщения и на стороне API в буфере накопится более 5000 событий)*.
    
    Во внешнем ПО необходимо предусмотреть механизмы переподключения и переподписки (при необходимости)!
    
    В OpenAPI V2 доступны "Московская Биржа" (MOEX) и "Биржа СПБ" (SPBX). 
    
    ### Доступные типы данных
    * Все сделки
    * Все заявки
    * Информация по инструментам
    * Котировки
    * Биржевые стаканы
    * Исторические данные
    * Позиции
    * Информация о клиенте
    
    ### Поддерживаемые виды заявок
     * рыночные
     * лимитные
     * стоп-лосс
     * тейк-профит
     * стоп-лосс лимит
     * тейк-профит лимит
    
    ## Особенности и ограничения
    
    ### Ограничения по частоте запросов
    Существует ограничение по общему количеству одновременно активных подписок, исчисляемое сотнями тысяч. В случае превышения лимита подписок клиент будет автоматически заблокирован и в течение нескольких минут не сможет создавать новые подписки. При этом уже существующие подписки продолжат работать.

    Для HTTP запросов нет явного ограничения по количеству выполняемых запросов в минуту, однако действия клиента не должны оказывать негативного влияния на работоспособность информационных систем. К таким действиям относятся передача системе бессмысленной информации и одновременная отправка нескольких тысяч запросов, вызывающие неоправданную нагрузку на инфраструктуру Брокера.
    
    В случае, если клиент своими действиями угрожает стабильности работы торговой системы либо затрудняет работу других клиентов, Брокер может приостановить обработку запросов от такого клиента до выяснения обстоятельств.
    
    ### Приоритет обработки запросов
    Сервер может обрабатывать "тяжелые" запросы (пример — история за все время) и запросы без авторизации с меньшим приоритетом.

    ## Получение списка портфелей
    Получить список доступных портфелей можно из JWT токена
    Для получения списка доступных портфелей необходимо декодировать JWT токен. Портфели находятся в поле **portfolios**.
    
    ## Авторизация

    ### OAuth

    **Внимание!**
    JWT и refresh token — равносильны логину и паролю.
    Их нужно скрывать от публичного доступа.

    ### Для разработчиков сторонних приложений, в которых торговлю будут вести их пользователи.
    
    Мы предоставляем сервис для авторизации сторониих приложений по стандарту OAuth 2.0.
    С примером приложения, использующего OAuth сервис для авторизации пользователей можно ознакомиться в разделе [Примеры](https://alor.dev/examples).

    Список разрешений (scopes), которые могут быть выданы приложению:
    <table>
      <tr>
        <td><b>OrdersRead</b></td>
        <td>Чтение выставленных заявок</td>
      </tr>
      <tr>
        <td><b>OrdersCreate</b></td>
        <td>Выставление заявок</td>
      </tr>
      <tr>
        <td><b>Trades</b></td>
        <td>Чтение совершенных сделок</td>
      </tr>
      <tr>
        <td><b>Personal</b></td>
        <td>Персональная информация: ФИО, почта и т.п.</td>
      </tr>
      <tr>
        <td><b>Stats</b></td>
        <td>Статистика: прибыль, средние цены и т.п.</td>
      </tr>
    </table>

    ### Для ведения операций от своего имени
    
    Выписать себе **refresh token** для ведения операций от своего имени [можно здесь](https://alor.dev/open-api-tokens).

    ## Краткое описание работы с авторизацией

    Чтобы выполнить авторизованный запрос, добавьте в запрос заголовок с именем "Authorization"
    и значением, состоящим из префикса `"Bearer "` и валидного JWT токена.

    Срок жизни JWT короткий: это сделано для безопасности. 
    Для большинства вариантов использования API мы рекоммендуем использовать механизм  **refresh token**.
    
    Механизм  **refresh token**  позволяет получать JWT с новым сроком жизни.
    Для этого отправьте POST запрос на адрес `https://oauthdev.alor.ru/refresh?token={refreshToken}` *(тестовый контур)* или `https://oauth.alor.ru/refresh?token={refreshToken}` *(боевой контур)*.
    Если у **refresh token**  не истек срок жизни и не он не был отозван, то в теле ответа в поле AccessToken вернётся свежий JWT токен. 

    Срок жизни  **refresh token**, получаемого обычным способом — 1 месяц.  
    Срок жизни  **refresh token**, получаемого самостоятельным выписыванием — год.


    |
    |-
    
    > Если мы для вас не завели портфели для ведения торговли в игровом контуре, оставьте заявку на <a href="mailto:openapi@alor.ru">openapi@alor.ru</a> или свяжитесь с нами в [телеграме](https://t.me/AlorOpenAPI).

    </br></br>
    Тестовый контур: `https://apidev.alor.ru`

    Боевой контур: `https://api.alor.ru`
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
  termsOfService: 'https://storage.alorbroker.ru/upload/docs/%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0%20%D0%BF%D0%BB%D0%B0%D1%82%D1%84%D0%BE%D1%80%D0%BC%D1%8B.pdf'
  contact:
    email: openapi@alor.ru
servers:
  - url: https://apidev.alor.ru
    description: Тестовый контур
  - url: https://api.alor.ru
    description: Боевой контур
security:
  - bearerAuth: []
tags:
  - name: Authorization
    description: Авторизация
  - name: ClientInfo
    description: Информация о клиенте
  - name: Instruments
    description: "Ценные бумаги / инструменты"
  - name: Other
    description: "Другое"
  - name: Orders
    description: "Работа с заявками"
  - name: Subscriptions
    description: "Подписки и события (WebSocket)"
  - name: StopOrdersV2
    description: "Стоп-заявки v2"
  - name: OrdersWebSocket
    description: Работа с заявками (WebSocket beta)
  - name: OrderGroups
    description: Группы заявок
  - name: Deprecated
    description: Устаревшее
paths:
  /refresh:
    post:
      summary: Обновление JWT токена
      tags:
        - Authorization
      servers:
        - url: https://oauthdev.alor.ru
          description: Тестовый контур
        - url: https://oauth.alor.ru
          description: Боевой контур
      description: |
        Запрос генерации JWT токена на основе Refresh токена из кабинета разработчика. JWT токен используется для авторизации прочих обращений к API.
      parameters:
        - name: token
          in: query
          description: |
            Refresh token, получаемый в кабинете разработчика
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Запрос успешно обработан'
          content:
            application/json:
              schema:
                type: string
                description: |
                  JWT сгенерирован
              examples:
                Пример JWT:
                  value:
                    AccessToken: eyJhbGciOiJ...
        '403':
          description: Не удалось сгенерировать JWT. Refresh token задан некорректно или его срок действия истёк
      security: []
  ## MARKET DATA --------------------------------------------------------
  /md/v2/Clients/{exchange}/{portfolio}/orders:
    get:
      tags:
        - ClientInfo
        - Orders
      summary: 'Информация обо всех заявках'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Возвращает информацию о всех заявках для указанного `portfolio`, созданных на заданной в параметре `exchange` бирже.
      operationId: MdV2ClientsExchangePortfolioOrdersGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Orders'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/orders/{orderId}:
    get:
      tags:
        - ClientInfo
        - Orders
      summary: 'Информация о выбранной заявке'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Возвращает информацию о выбранной в параметре `orderId` заявке.
      operationId: MdV2ClientsExchangePortfolioOrdersOrderIdGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/path_OrderId'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Order'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/stoporders:
    get:
      tags:
        - ClientInfo
        - StopOrdersV2
      summary: 'Информация обо всех стоп-заявках'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос информации о всех стоп-заявках
      operationId: MdV2ClientsExchangePortfolioStopOrdersGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_StopOrders_Warp'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/stoporders/{orderId}:
    get:
      tags:
        - ClientInfo
        - StopOrdersV2
      summary: 'Информация о выбранной стоп-заявке'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос информации о выбранной стоп-заявке
      operationId: MdV2ClientsExchangePortfolioStopOrdersOrderIdGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/path_OrderId'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_StopOrder_Warp'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Clients/legacy/{exchange}/{portfolio}/money:
    get:
      tags:
        - Deprecated
      summary: 'Информация о деньгах выбранного портфеля'
      description: |
        Запрос информации о позиции по деньгам. Вызов существует для обратной
        совместимости с API v1, предпочтительно использовать другие вызовы
        (/summary, /risk, /positions)
      operationId: ExchangePortfolioMoney
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Money'
        '403':
          $ref: '#/components/responses/403'
      deprecated: true
  /md/v2/Clients/{exchange}/{portfolio}/summary:
    get:
      tags:
        - ClientInfo
      summary: 'Информация о портфеле'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос сводной информации о портфеле
      operationId: MdV2ClientsExchangePortfolioSummaryGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Summary'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/positions:
    get:
      tags:
        - ClientInfo
      summary: 'Информация обо всех позициях в портфеле'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Возвращает информацию обо всех открытых позициях указанного `portfolio`.
      operationId: MdV2ClientsExchangePortfolioPositionsGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_WithoutCurrency_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Positions'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/positions/{symbol}:
    get:
      tags:
        - ClientInfo
      summary: 'Информация о позициях выбранного инструмента в портфеле'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Возвращает информацию обо всех открытых позициях выбранного инструмента для указанного `portfolio`. 
      operationId: MdV2ClientsExchangePortfolioPositionsSymbolGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Position'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/trades:
    get:
      tags:
        - ClientInfo
      summary: 'Информация о сделках'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос информации о сделках (только за текущую торговую сессию)
      operationId: MdV2ClientsExchangePortfolioTradesGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_WithRepo_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Trades_V2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/{symbol}/trades:
    get:
      tags:
        - ClientInfo
      summary: 'Информация о сделках по выбранному инструменту'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос информации о сделках по выбранному инструменту
      operationId: MdV2ClientsExchangePortfolioSymbolTradesGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Trades_V2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/fortsrisk:
    get:
      tags:
        - ClientInfo
      summary: 'Информация о рисках на срочном рынке'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос информации о рисках на срочном рынке для выбранного портфеля
      operationId: MdV2ClientsExchangePortfolioFortsriskGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_MoexOnly'
        - $ref: '#/components/parameters/path_Portfolio_FORTS'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_FortsRisk'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Clients/{exchange}/{portfolio}/risk:
    get:
      tags:
        - ClientInfo
      summary: 'Информация о рисках'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос информации о рисках
      operationId: MdV2ClientsExchangePortfolioRiskGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Risk'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Clients/{login}/positions:
    get:
      tags:
        - ClientInfo
      summary: 'Информация о позициях по логину'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Возвращает информацию обо всех позициях во всех портфелях указанного в параметре `login` торгового аккаунта.
      operationId: MdV2ClientsLoginPositionsGet
      parameters:
        - $ref: '#/components/parameters/path_Login'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_WithoutCurrency_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Positions'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/stats/{exchange}/{portfolio}/history/trades:
    get:
      tags:
        - Deprecated
      summary: 'История всех сделок'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос списка сделок за предыдущие дни (не более 1000 сделок за один
        запрос)
      operationId: TradeStats
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_DateFrom_Optional'
        - $ref: '#/components/parameters/query_Ticker_Optional'
        - $ref: '#/components/parameters/query_Side_Optional'
        - $ref: '#/components/parameters/query_FromId_Optional'
        - $ref: '#/components/parameters/query_LimitMax1000_Optional'
        - $ref: '#/components/parameters/query_OrderByTradeDate_Optional'
        - $ref: '#/components/parameters/query_Descending_Optional'
        - $ref: '#/components/parameters/query_WithRepo_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Trades'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: true
  /md/stats/{exchange}/{portfolio}/history/trades/{symbol}:
    get:
      tags:
        - Deprecated
      summary: 'История сделок по выбранному инструменту'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос списка сделок за предыдущие дни (не более 1000 сделок за один запрос) по одному инструменту. 
      operationId: TradeStatsBySymbol
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_DateFrom_Optional'
        - $ref: '#/components/parameters/query_FromId_Optional'
        - $ref: '#/components/parameters/query_LimitMax1000_Optional'
        - $ref: '#/components/parameters/query_OrderByTradeDate_Optional'
        - $ref: '#/components/parameters/query_Descending_Optional'
        - $ref: '#/components/parameters/query_WithRepo_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Trades'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: true
  /md/v2/Stats/{exchange}/{portfolio}/history/trades:
    get:
      tags:
        - ClientInfo
      summary: 'История сделок v2'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос списка сделок за предыдущие дни (не более 1000 сделок за один
        запрос)
      operationId: MdV2StatsExchangePortfolioHistoryTradesGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_DateFrom_Optional'
        - $ref: '#/components/parameters/query_Ticker_Optional'
        - $ref: '#/components/parameters/query_FromId_Optional'
        - $ref: '#/components/parameters/query_LimitMax1000_Optional'
        - $ref: '#/components/parameters/query_OrderByTradeDate_Optional'
        - $ref: '#/components/parameters/query_Descending_Optional'
        - $ref: '#/components/parameters/query_WithRepo_Optional'
        - $ref: '#/components/parameters/query_Side_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Trades_V2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Stats/{exchange}/{portfolio}/history/trades/{symbol}:
    get:
      tags:
        - ClientInfo
      summary: 'История сделок по выбранному инструменту v2'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос списка сделок за предыдущие дни (не более 1000 сделок за один запрос) по одному инструменту. 
      operationId: MdV2StatsExchangePortfolioHistoryTradesSymbolGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Portfolio_FOND'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_DateFrom_Optional'
        - $ref: '#/components/parameters/query_FromId_Optional'
        - $ref: '#/components/parameters/query_LimitMax1000_Optional'
        - $ref: '#/components/parameters/query_OrderByTradeDate_Optional'
        - $ref: '#/components/parameters/query_Descending_Optional'
        - $ref: '#/components/parameters/query_WithRepo_Optional'
        - $ref: '#/components/parameters/query_Side_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Trades_V2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /md/v2/Securities:
    get:
      tags:
        - Instruments
      summary: 'Информация обо всех инструментах'
      description: |
        **Запрос может быть выполнен без авторизации**. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        Возвращает информацию о соответствующих запросу торговых инструментах на всех биржах. Объекты в ответе сортируются по объёму торгов. Если не указано иное значение параметра `limit`, в ответе возвращается только 25 объектов за раз
      operationId: MdV2SecuritiesGet
      parameters:
        - $ref: '#/components/parameters/query_TickerNamedQuery_Optional'
        - $ref: '#/components/parameters/query_LimitDefault25_Optional'
        - $ref: '#/components/parameters/query_Offset_Optional'
        - $ref: '#/components/parameters/query_Sector_Optional'
        - $ref: '#/components/parameters/query_CfiCode_Optional'
        - $ref: '#/components/parameters/query_Exchange_All_Optional'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_IncludeNonBaseBoards_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Securities'
      deprecated: false
  /md/v2/Securities/{exchange}:
    get:
      tags:
        - Instruments
      summary: 'Информация обо всех инструментах на выбранной бирже'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Возвращает информацию о соответствующих запросу торговых инструментах на выбранной бирже. Объекты в ответе сортируются по объёму торгов. Если не указано иное значение параметра `limit`, в ответе возвращаются все соответствующие параметрам запроса инструменты
      operationId: MdV2SecuritiesExchangeGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_Market_Optional'
        - $ref: '#/components/parameters/query_IncludeOld_Optional'
        - $ref: '#/components/parameters/query_Limit_Optional'
        - $ref: '#/components/parameters/query_IncludeNonBaseBoards_Optional'
        - $ref: '#/components/parameters/query_Offset_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Securities'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
      deprecated: false
  /md/v2/Securities/{exchange}/{symbol}:
    get:
      tags:
        - Instruments
      summary: 'Информация о выбранном инструменте'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос информации о выбранном финансовом инструменте на бирже
      operationId: MdV2SecuritiesExchangeSymbolGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Security'
        '400':
          $ref: '#/components/responses/400_Get'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Securities/{exchange}/{symbol}/availableBoards:
    get:
      tags:
        - Instruments
      summary: 'Список бордов инструмента'
      description: |
        **Запрос может быть выполнен без авторизации**. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        Возвращает список всех кодов поддерживаемых выбранным инструментов режимов торгов
      operationId: MdV2SecuritiesExchangeSymbolAvailableBoardsGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_AvailableBoards'
        '400':
          $ref: '#/components/responses/400_Get'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Securities/{exchange}/{symbol}/alltrades:
    get:
      tags:
        - Instruments
        #- Warp.API.HTTP.Marketdata
      summary: 'Информация о всех сделках по ценным бумагам за сегодня'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запросить данные о всех сделках (лента) по ценным бумагам за сегодняшний
        день
      operationId: MdV2SecuritiesExchangeSymbolAlltradesGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
        - $ref: '#/components/parameters/query_DateFromSec_Optional'
        - $ref: '#/components/parameters/query_DateToSec_Optional'
        - $ref: '#/components/parameters/query_FromIdAllTrades_Optional'
        - $ref: '#/components/parameters/query_ToId_Optional'
        - $ref: '#/components/parameters/query_QtyFrom_Optional'
        - $ref: '#/components/parameters/query_QtyTo_Optional'
        - $ref: '#/components/parameters/query_PriceFrom_Optional'
        - $ref: '#/components/parameters/query_PriceTo_Optional'
        - $ref: '#/components/parameters/query_Side_Optional'
        - $ref: '#/components/parameters/query_Offset_Optional'
        - $ref: '#/components/parameters/query_Take_Optional'
        - $ref: '#/components/parameters/query_Descending_Optional'
        - $ref: '#/components/parameters/query_IncludeVirtualTrades_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_AllTrades'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Securities/{exchange}/{symbol}/alltrades/history:
    get:
      tags:
        - Instruments
        #- Warp.API.HTTP.Marketdata
      summary: 'Информация о всех сделках по ценным бумагам за выбранный период'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запросить данные о сделках (лента) по ценным бумагам за исторический период (за текущий день сделки не отдаются)
      operationId: MdV2SecuritiesExchangeSymbolAlltradesHistoryGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_DateFromSec_Optional'
        - $ref: '#/components/parameters/query_DateToSec_Optional'
        - $ref: '#/components/parameters/query_LimitMax50000_Required'
        - $ref: '#/components/parameters/query_Offset_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_AllTradesHistory'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Securities/{exchange}/{symbol}/actualFuturesQuote:
    get:
      tags:
        - Instruments
      summary: 'Котировки по ближайшему фьючерсу (код)'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос котировки по ближайшему фьючерсу (только по коду, без даты)
      operationId: MdV2SecuritiesExchangeSymbolActualFuturesQuoteGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_MoexOnly'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Futures'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/v2/Securities/{symbols}/quotes:
    get:
      tags:
        - Instruments
      summary: 'Котировки для выбранных инструментов'
      description: |
        **Запрос может быть выполнен без авторизации**. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        Запрос информации о котировках для выбранных инструментов и бирж
      operationId: MdV2SecuritiesSymbolsQuotesGet
      parameters:
        - $ref: '#/components/parameters/path_Symbols'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_Symbols'
      deprecated: false
  /md/v2/Securities/currencyPairs:
    get:
      tags:
        - Instruments
      summary: 'Список валютных пар'
      description: |
        **Запрос может быть выполнен без авторизации**. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        Возвращает список доступных валютных пар
      operationId: MdV2SecuritiesCurrencyPairsGet
      responses:
        '200':
          $ref: '#/components/responses/200_CurrencyPairs'
      deprecated: false
  /md/v2/orderbooks/{exchange}/{symbol}:
    get:
      tags:
        - Instruments
      summary: 'Информация о биржевом стакане'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос биржевого стакана
      operationId: MdV2OrderbooksExchangeSymbolGet
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Symbol'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_Depth_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderBook'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  /md/v2/time:
    get:
      tags:
        - Other
      summary: Текущее UTC время в формате Unix
      description: |
        **Запрос может быть выполнен без авторизации**. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        Запрос текущего UTC времени в формате Unix Time Seconds. Если этот запрос выполнен без авторизации, то будет возвращено время, которое было 15 минут назад.
      operationId: MdV2TimeGet
      responses:
        '200':
          $ref: '#/components/responses/200_Time'
      deprecated: false
  /md/v2/risk/rates:
    get:
      tags:
        - Instruments
      summary: 'Ставки риска'
      description: |
        **Запрос может быть выполнен без авторизации**. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        Получение ставок риска для маржинальной торговли.
      operationId: MdV2RiskRatesGet
      parameters:
        - $ref: '#/components/parameters/query_Exchange_All_Required'
        - $ref: '#/components/parameters/query_Ticker_Optional'
        - $ref: '#/components/parameters/query_RiskCategoryId_Optional'
        - $ref: '#/components/parameters/query_Search_Optional'
        - $ref: '#/components/parameters/query_Limit_Optional'
        - $ref: '#/components/parameters/query_Offset_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_RiskRates'
      deprecated: false
  /md/v2/history:
    get:
      tags:
        - Instruments
      summary: 'История для выбранных биржи и инструмента'
      description: |
        **Запрос может быть выполнен без авторизации**. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        Запрос истории рынка для выбранных биржи и финансового инструмента. Данные имеют задержку в 15 минут, если запрос не авторизован. Для авторизованных клиентов задержка не применяется.
      operationId: MdV2HistoryGet
      parameters:
        - $ref: '#/components/parameters/query_Symbol_Required'
        - $ref: '#/components/parameters/query_Exchange_All_Required'
        - $ref: '#/components/parameters/query_InstrumentGroup_Optional'
        - $ref: '#/components/parameters/query_TimeFrame_Required'
        - $ref: '#/components/parameters/query_DateFromSec_Required'
        - $ref: '#/components/parameters/query_DateToSec_Required'
        - $ref: '#/components/parameters/query_CountBack_Optional'
        - $ref: '#/components/parameters/query_Untraded_Optional'
        - $ref: '#/components/parameters/query_SplitAdjust_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_History'
        '400':
          $ref: '#/components/responses/400_Get'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /md/status/{exchange}/{market}:
    get:
      tags:
        - Deprecated
      summary: 'Информация о статусе торгов'
      description: |
        **Запрос может быть выполнен без авторизации**. При отправке анонимного запроса вернутся данные, бывшие актуальными 15 минут назад.

        Возвращает информацию о статусе торгов для указанного рынка на выбранной бирже
      operationId: DevTradingSessionStatus
      parameters:
        - $ref: '#/components/parameters/path_Exchange_All'
        - $ref: '#/components/parameters/path_Market'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          $ref: '#/components/responses/200_TradingSession'
        '500':
          $ref: '#/components/responses/500'
      deprecated: true
  ## COMMAND API --------------------------------------------------------
  /commandapi/warptrans/TRADE/v2/client/orders/actions/market:
    post:
      tags:
        - Orders
      summary: 'Создание рыночной заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос создаёт на бирже новую заявку на покупку или продажу торгового инструмента по рыночной цене.
      operationId: CommandapiWarptransTradeV2ClientOrdersActionsMarketPost
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsMarketTV'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket_CommandAPI'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/actions/limit:
    post:
      tags:
        - Orders
      summary: 'Создание лимитной заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос создаёт на бирже новую заявку на покупку или продажу торгового инструмента по указанной в теле запроса цене.
      operationId: CommandapiWarptransTradeV2ClientOrdersActionsLimitPost
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsLimitTV'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket_CommandAPI'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLoss:
    post:
      tags:
        - Deprecated
        #-  "Warp.ATConnector"
      summary: 'Создание стоп-лосс заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос создаёт стоп-лосс заявку с указанными характеристиками.
      operationId: '/v2/client/orders/actions/stopLoss'
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStop'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfit:
    post:
      tags:
        - Deprecated
        #-  "Warp.ATConnector"
      summary: 'Создание стоп-заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос создаёт стоп-заявку с указанными характеристиками
      operationId: '/v2/client/orders/actions/takeProfit'
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStop'
        # верно, тело совпадает со stop.
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfitLimit:
    post:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Создание стоп-лимит заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос создаёт стоп-лимит заявку с указанными характеристиками
      operationId: '/v2/client/orders/actions/takeProfitLimit'
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopLimit'
        #верно, тело совпадает с stoplimit
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLossLimit:
    post:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: Создание стоп-лосс лимит заявки
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос создаёт стоп-лосс лимит заявку с указанными характеристиками
      operationId: /v2/client/orders/actions/stopLossLimit
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopLimit'
        #верно, тело совпадает с stoplimit
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLoss/{orderId}:
    #не совпадают виды запросов(путь) в postman и в visualstudio
    #здесь описан путь в соответствии с кодом в visualstudio
    put:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Изменение стоп-лосс заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос изменяет характеристики ранее поданной стоп-лосс заявки с указанным номером
      operationId: '/v2/client/orders/actions/stopLoss/{orderId}'
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStop'
        # верно, тело совпадает со stop.
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
        - $ref: '#/components/parameters/path_OrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfit/{orderId}:
    put:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Изменение стоп-заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос изменяет характеристики ранее поданной стоп-заявки с указанным номером
      operationId: '/v2/client/orders/actions/takeProfit/{orderId}'
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStop'
        # верно, тело совпадает со stop.
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
        - $ref: '#/components/parameters/path_OrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfitLimit/{orderId}:
    put:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Изменение стоп-лимит заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос изменяет характеристики ранее поданной стоп-лимит заявки с указанным номером
      operationId: '/v2/client/orders/actions/takeProfitLimit/{orderId}'
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopLimit'
        #верно, тело совпадает с stoplimit
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
        - $ref: '#/components/parameters/path_OrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLossLimit/{orderId}:
    put:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Изменение стоп-лосс лимит заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос изменяет характеристики ранее поданной стоп-лосс лимит заявки с указанным номером
      operationId: '/v2/client/orders/actions/stopLossLimit/{orderId}'
      #в коде stopLossLimit потерялся, зато есть два takeProfitLimit
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopLimit'
        #верно, тело совпадает с stoplimit
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
        - $ref: '#/components/parameters/path_OrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionStopProfitLoss'
        '400':
          $ref: '#/components/responses/400_Post_Put_Deprecated'
      deprecated: true
  /commandapi/warptrans/TRADE/v2/client/orders/actions/market/{orderId}:
    put:
      tags:
        - Orders
      summary: 'Изменение рыночной заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос изменяет характеристики ранее поданной рыночной заявки с указанным номером
      operationId: CommandapiWarptransTradeV2ClientOrdersActionsMarketOrderIdPut
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsMarketTV'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_OrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/actions/limit/{orderId}:
    put:
      tags:
        - Orders
      summary: 'Изменение лимитной заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос изменяет характеристики ранее поданной лимитной заявки с указанным номером
      operationId: CommandapiWarptransTradeV2ClientOrdersActionsLimitOrderIdPut
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsLimitTV'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_OrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /warptrans/{tradeServerCode}/v2/client/orders/{orderId}:
    #не совпадают виды запросов(путь) в postman и в visualstudio
    #здесь описан путь в соответствии с кодом в visualstudio
    delete:
      tags:
        - Deprecated
        #-  "Warp.ATConvertor"
      summary: 'Снятие стоп-заявки'
      description: 'Снятие стоп-заявки с указанным идентификатором'
      operationId: '/v2/client/orders/actions/{orderId}'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_TradeServerCode'
        - $ref: '#/components/parameters/path_OrderId'
        - $ref: '#/components/parameters/query_Portfolio_FOND_Required'
        - $ref: '#/components/parameters/query_Stop_Required'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderAction_Delete'
        '400':
          $ref: '#/components/responses/400_Post_Put'
      deprecated: true
  /commandapi/warptrans/TRADE/v2/client/orders/estimate:
    post:
      tags:
        - Orders
      summary: 'Провести оценку одной заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.
      operationId: CommandapiWarptransTradeV2ClientOrdersEstimatePost
      requestBody:
        $ref: '#/components/requestBodies/EstimateOrder'
      responses:
        '200':
          $ref: '#/components/responses/200_EstimateOrder'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /commandapi/warptrans/TRADE/v2/client/orders/estimate/all:
    post:
      tags:
        - Orders
      summary: 'Провести оценку нескольких заявок'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.
      operationId: CommandapiWarptransTradeV2ClientOrdersEstimateAllPost
      requestBody:
        $ref: '#/components/requestBodies/EstimateOrders'
      responses:
        '200':
          $ref: '#/components/responses/200_EstimateOrders'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /commandapi/warptrans/TRADE/v2/client/orders/actions/stopLimit:
    post:
      tags:
        - StopOrdersV2
      summary: 'Создание стоп-лимитной заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        
      operationId: CommandapiWarptransTradeV2ClientOrdersActionsStopLimitPost
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopLimitTVWarp'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket_CommandAPI'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/actions/stop:
    post:
      tags:
        - StopOrdersV2
      summary: 'Создание стоп-заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        
      operationId: CommandapiWarptransTradeV2ClientOrdersActionsStopPost
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopMarketTVWarp'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket_CommandAPI'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/actions/stop/{stopOrderId}:
    put:
      tags:
        - StopOrdersV2
      summary: 'Изменение стоп-заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Изменение стоп-заявки
      operationId: CommandapiWarptransTradeV2ClientOrdersActionsStopStopOrderIdPut
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopMarketTVWarp'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_StopOrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket_CommandAPI'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/actions/stopLimit/{stopOrderId}:
    put:
      tags:
        - StopOrdersV2
      summary: 'Изменение стоп-лимитной заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Изменение стоп-лимитной заявки
      operationId: CommandapiWarptransTradeV2ClientOrdersActionsStopLimitStopOrderIdPut
      requestBody:
        $ref: '#/components/requestBodies/OrdersActionsStopLimitTVWarp'
      parameters:
        - $ref: '#/components/parameters/header_X-REQID'
        - $ref: '#/components/parameters/header_X-ALOR-REQID'
        - $ref: '#/components/parameters/path_StopOrderId'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderActionLimitMarket_CommandAPI'
        '400':
          $ref: '#/components/responses/400_Post_Put'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/{orderId}:
    delete:
      tags:
        - Orders
        - StopOrdersV2
      summary: 'Снять одну заявку'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос снимает одну биржевую или условную заявку с указанным уникальным идентификатором
      operationId: CommandapiWarptransTradeV2ClientOrdersOrderIdDelete
      parameters:
        - $ref: '#/components/parameters/path_OrderId'
        - $ref: '#/components/parameters/query_Portfolio_FOND_Required'
        - $ref: '#/components/parameters/query_Exchange_MoexOnly_Required'
        - $ref: '#/components/parameters/query_Stop_Required'
        - $ref: '#/components/parameters/query_JsonResponse_Optional'
        - $ref: '#/components/parameters/query_Format_Optional'
      responses:
        '200':
          description: 'Запрос успешно обработан'
          content:
            text/plain:
              schema:
                allOf:
                  - $ref: '#/components/schemas/field_Message'
                  - example: success
              examples:
                Пример:
                  $ref: '#/components/examples/MessageSuccessCommonText'
        '400':
          description: Не удалось выполнить запрос. Проверьте синтаксис запроса и корректность заданных значений
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: 'OrderToCancelNotFound (404)'
                    description: 'Тип ошибки'
                  message:
                    allOf:
                      - $ref: '#/components/schemas/field_Message'
                      - example: Order to cancel not found
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /commandapi/warptrans/TRADE/v2/client/orders/all:
    delete:
      tags:
        - Orders
        - StopOrdersV2
      summary: 'Снять все заявки'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Запрос снимает все биржевые и/или условные заявки для указанного портфеля.
      operationId: CommandapiWarptransTradeV2ClientOrdersAllDelete
      parameters:
        - $ref: '#/components/parameters/query_Exchange_All_Required'
        - $ref: '#/components/parameters/query_Portfolio_FOND_Required'
        - $ref: '#/components/parameters/query_Stop_Optional'
      responses:
        '200':
          description: 'Запрос успешно обработан'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/field_Message'
                  - example: success
              examples:
                Пример:
                  $ref: '#/components/examples/MessageSuccessCommonText'
        '400':
          description: Не удалось выполнить запрос. Проверьте синтаксис запроса и корректность заданных значений
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: 'OrderToCancelNotFound'
                    description: 'Тип ошибки'
                  message:
                    allOf:
                      - $ref: '#/components/schemas/field_Message'
                      - example: Orders to cancel not found
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
  /commandapi/api/orderGroups:
    get:
      tags:
        - OrderGroups
      summary: 'Получение всех групп заявок'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Возвращает список групп заявок для логина, выписавшего токен.
      operationId: CommandapiApiOrderGroupsGet
      responses:
        '200':
          $ref: '#/components/responses/200_OrderGroups_Info'
        '400':
          $ref: '#/components/responses/400_OrderGroup_Creation'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      deprecated: false
    post:
      tags:
        - OrderGroups
      summary: 'Создание группы заявок'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Создание группы заявок на основе уже созданных заявок
      operationId: CommandapiApiOrderGroupsPost
      requestBody:
        $ref: '#/components/requestBodies/OrderGroupCreate'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderGroup_Creation'
        '400':
          $ref: '#/components/responses/400_OrderGroup_Creation'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  /commandapi/api/orderGroups/{orderGroupId}:
    get:
      tags:
        - OrderGroups
      summary: 'Получение информации о группе заявок'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.
      operationId: CommandapiApiOrderGroupsOrderGroupIdGet
      parameters:
        - in: path
          name: orderGroupId
          required: true
          example: eafb19d6-c578-4afe-aa95-d528c4531031
          schema:
            type: string
            format: uuid
          description: Идентификатор группы заявок
      responses:
        '200':
          $ref: '#/components/responses/200_OrderGroup_Info'
        '400':
          $ref: '#/components/responses/400_OrderGroup_Creation'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
    put:
      tags:
        - OrderGroups
      summary: 'Редактирование группы заявок'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.

        Редактирование группы заявок (связывание новых заявок, изменение типа
        связи)
      operationId: CommandapiApiOrderGroupsOrderGroupIdPut
      parameters:
        - in: path
          name: orderGroupId
          required: true
          example: eafb19d6-c578-4afe-aa95-d528c4531031
          schema:
            type: string
            format: uuid
          description: Идентификатор группы заявок
      requestBody:
        $ref: '#/components/requestBodies/OrderGroupModify'
      responses:
        '200':
          $ref: '#/components/responses/200_OrderGroup_PutDelete'
        '400':
          $ref: '#/components/responses/400_OrderGroup_Creation'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
    delete:
      tags:
        - OrderGroups
      summary: 'Удаление группы заявок'
      description: |
        **Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.
      operationId: CommandapiApiOrderGroupsOrderGroupIdDelete
      parameters:
        - in: path
          name: orderGroupId
          required: true
          example: eafb19d6-c578-4afe-aa95-d528c4531031
          schema:
            type: string
            format: uuid
          description: Идентификатор группы заявок
      responses:
        '200':
          $ref: '#/components/responses/200_OrderGroup_PutDelete'
        '400':
          $ref: '#/components/responses/400_OrderGroup_Creation'
        '401':
          $ref: '#/components/responses/401'
      deprecated: false
  ## WEBSOCKET --------------------------------------------------------
  ### WebSocket Subscriptions (queries to the /ws interface)
  "/ws               ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на "биржевой стакан"'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br>
        Подписка на информацию о биржевом стакане для выбранных биржи и финансового инструмента.<br>
        Поддерживаются только авторизованные запросы.
      operationId: OrderBookGetAndSubscribe
      requestBody:
        $ref: "#/components/requestBodies/ws_sub_OrderBookGetAndSubscribe"
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_OrderBookGetAndSubscribe'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws              ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на историю цен (свечи)'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на историю цен (свечи) для выбранных биржи и финансового инструмента. 
      operationId: BarsGetAndSubscribe 
      requestBody:
        $ref: "#/components/requestBodies/ws_sub_BarsGetAndSubscribe"
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_BarsGetAndSubscribe'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws             ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на информацию о котировках'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о котировках для выбранных инструментов и бирж.
      operationId: QuotesSubscribe
      requestBody:
        $ref: "#/components/requestBodies/ws_sub_QuotesSubscribe"
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_QuotesSubscribe'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws                    ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на все сделки'
      description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о всех сделках.
      operationId: AllTradesGetAndSubscribe
      requestBody:
        $ref: "#/components/requestBodies/ws_sub_AllTradesGetAndSubscribe"
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_AllTradesGetAndSubscribe'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws            ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на информацию о текущих позициях по торговым инструментам и деньгам'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих позициях по ценным бумагам и деньгам. 
      operationId: PositionsGetAndSubscribeV2
      requestBody:
        $ref: "#/components/requestBodies/ws_sub_PositionsGetAndSubscribe"
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_PositionsGetAndSubscribe'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws          ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на сводную информацию по портфелю'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на сводную информацию по портфелю.
      operationId: SummariesGetAndSubscribeV2
      requestBody:
        $ref: '#/components/requestBodies/ws_sub_SummariesGetAndSubscribeV2'
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_SummariesGetAndSubscribeV2'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws                ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на информацию по портфельным рискам'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на сводную информацию по портфельным рискам.
      operationId: RisksGetAndSubscribe
      requestBody:
        $ref: '#/components/requestBodies/ws_sub_RisksGetAndSubscribe'
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_RisksGetAndSubscribe'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws                  ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на информацию по рискам срочного рынка (FORTS)'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию по рискам срочного рынка (FORTS).
      operationId: SpectraRisksGetAndSubscribe
      requestBody:
        $ref: '#/components/requestBodies/ws_sub_SpectraRisksGetAndSubscribe'
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_SpectraRisksGetAndSubscribe'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws           ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на сделки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о сделках.
      operationId: TradesGetAndSubscribeV2
      requestBody:
        $ref: "#/components/requestBodies/ws_sub_TradesGetAndSubscribe"
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_TradesGetAndSubscribe'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws         ":
    trace:
      tags:
        - Deprecated
      summary: 'WebSocket подписка на информацию о стоп-заявках'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих заявках на рынке для выбранных биржи и финансового инструмента.
      operationId: WS_prod_StopOrdersSubscribe
      requestBody:
        $ref: '#/components/requestBodies/ws_sub_StopOrdersGetAndSubscribe'
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_StopOrdersGetAndSubscribe'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: true
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws                 ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на информацию о заявках'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих заявках на рынке для выбранных биржи и финансового инструмента.
      operationId: OrdersGetAndSubscribeV2
      requestBody:
        $ref: '#/components/requestBodies/ws_sub_OrdersGetAndSubscribe'
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_OrdersGetAndSubscribe'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws                     ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на изменение информации о финансовых инструментах'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на изменение информации о финансовых инструментах на выбранной бирже.
      operationId: InstrumentsGetAndSubscribeV2
      requestBody:
        $ref: '#/components/requestBodies/ws_sub_InstrumentsGetAndSubscribeV2'
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_InstrumentsGetAndSubscribeV2'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws        ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket отмена существующей подписки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).
      operationId: Unsubscribe
      requestBody:
        $ref: '#/components/requestBodies/ws_sub_Unsubscribe'
      responses:
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  "/ws                   ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на информацию о стоп-заявках v2'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих заявках на рынке для выбранных биржи и финансового инструмента.
      operationId: StopOrdersGetAndSubscribeV2
      requestBody:
        $ref: '#/components/requestBodies/ws_sub_StopOrdersGetAndSubscribeV2'
      responses:
        '100':
          $ref: '#/components/responses/ws_Subscription_100_StopOrdersGetAndSubscribeWarp'
        '200':
          $ref: '#/components/responses/ws_Subscription_200'
        '401':
          $ref: '#/components/responses/ws_Subscription_401'
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/ws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          description: Боевой контур
          variables: {}
  ### WebSocket Commands (queries to the /cws interface)
  "/cws                 ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Авторизация'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
      operationId: Authorize
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_Authorize"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Authorize"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
  "/cws               ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Создание рыночной заявки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        
        Запрос создаёт на бирже новую заявку на покупку или продажу торгового инструмента по рыночной цене.
      operationId: CreateMarketOrder
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_CreateOrder_Market"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Create"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
  "/cws              ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Создание лимитной заявки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        
        Запрос создаёт на бирже новую заявку на покупку или продажу торгового инструмента по указанной в теле запроса цене.
      operationId: CreateLimitOrder
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_CreateOrder_Limit"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Create"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
  "/cws             ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Создание стоп-заявки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
      operationId: CreateStopOrder
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_CreateOrder_Stop"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Create"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
  "/cws            ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Создание стоп-лимитной заявки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
      operationId: CreateStopLimitOrder
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_CreateOrder_StopLimit"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Create"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
  "/cws           ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Изменение рыночной заявки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        
        Запрос изменяет характеристики ранее поданной рыночной заявки с указанным номером
      operationId: UpdateMarketOrder
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_UpdateOrder_Market"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Update"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
  "/cws          ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Изменение лимитной заявки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        
        Запрос изменяет характеристики ранее поданной лимитной заявки с указанным номером
      operationId: UpdateLimitOrder
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_UpdateOrder_Limit"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Update"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
  "/cws         ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Изменение стоп-заявки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
      operationId: UpdateStopOrder
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_UpdateOrder_Stop"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Update"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
  "/cws        ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Изменение стоп-лимитной заявки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
      operationId: UpdateStopLimitOrder
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_UpdateOrder_StopLimit"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Update"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
  "/cws       ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Снятие рыночной заявки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        
        Запрос снимает рыночную заявку с указанным уникальным идентификатором
      operationId: DeleteMarketOrder
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_DeleteOrder_Market"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Delete"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
  "/cws      ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Снятие лимитной заявки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        
        Запрос снимает лимитную заявку с указанным уникальным идентификатором
      operationId: DeleteLimitOrder
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_DeleteOrder_Limit"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Delete"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
  "/cws     ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Снятие стоп-заявки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        
        Запрос снимает стоп-заявку с указанным уникальным идентификатором
      operationId: DeleteStopOrder
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_DeleteOrder_Stop"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Delete"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
  "/cws    ":
    trace:
      tags:
        -  OrdersWebSocket
      summary: 'Снятие стоп-лимитной заявки'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        
        Запрос снимает стоп-лимитную заявку с указанным уникальным идентификатором
      operationId: DeleteStopLimitOrder
      requestBody:
        $ref: "#/components/requestBodies/ws_cmd_DeleteOrder_StopLimit"
      responses: 
        '200':
          $ref: "#/components/responses/ws_Commands_200_Delete"
        '400':
          $ref: "#/components/responses/ws_Commands_400"
      deprecated: false
      security: []
      servers:
        - url: 'wss://apidev.alor.ru/cws'
          description: Тестовый контур
          variables: {}
        - url: 'wss://api.alor.ru/cws'
          description: Боевой контур
          variables: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT #Токен из OAuth
  parameters:
    # Header parameters
    header_X-ALOR-REQID:
      deprecated: true
      required: false
      name: X-ALOR-REQID
      in: header
      description: |
        Устаревшее поле, может быть удалено в дальнейших обновлениях. Используйте вместо него поле `X-REQID`.

        Уникальный идентификатор запроса.
      schema:
        type: string
        description: |
          Устаревшее поле, может быть удалено в дальнейших обновлениях. Используйте вместо него поле `X-REQID`.

          Уникальный идентификатор запроса.
      example: 9823-616stn
    header_X-REQID:
      deprecated: false
      required: true
      name: X-REQID
      in: header
      description: |
        Требуется уникальная случайная строка в качестве идентификатора запроса.
        Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора
      schema:
        type: string
        description: |
          Требуется уникальная случайная строка в качестве идентификатора запроса.
          Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора
      example: 9823-616stn
    # Path parameters
    path_Exchange_All:
      deprecated: false
      required: true
      name: exchange
      in: path
      description: |
        Биржа:
          * `MOEX` — Московская биржа
          * `SPBX` — СПБ Биржа
      schema:
        description: |
          Биржа:
            * `MOEX` — Московская биржа
            * `SPBX` — СПБ Биржа
        type: string
        enum:
          - MOEX
          - SPBX
    path_Exchange_MoexOnly:
      deprecated: false
      required: true
      name: exchange
      in: path
      description: |
        Биржа:
          * `MOEX` — Московская биржа
      schema:
        description: |
          Биржа:
            * `MOEX` — Московская биржа
        type: string
        enum:
          - MOEX
    path_Login:
      deprecated: false
      required: true
      name: login
      in: path
      description: 'Логин торгового аккаунта'
      schema:
        type: string
        description: 'Логин торгового аккаунта'
      example: P039004
    path_Market:
      deprecated: false
      required: true
      name: market
      in: path
      description: |
        Рынок на бирже:
          * `FORTS` — Срочный рынок Московской биржи
          * `FOND` — Фондовый рынок Московской биржи
          * `CURR` — Валютный рынок Московской биржи
          * `SPBX` — Рынок Санкт-Петербургской биржи
      schema:
        type: string
        description: |
          Рынок на бирже:
            * `FORTS` — Срочный рынок Московской биржи
            * `FOND` — Фондовый рынок Московской биржи
            * `CURR` — Валютный рынок Московской биржи
            * `SPBX` — Рынок Санкт-Петербургской биржи
        enum:
          - FORTS
          - FOND
          - CURR
          - SPBX
      example: FOND
    path_OrderId:
      deprecated: false
      required: true
      name: orderId
      in: path
      description: 'Идентификатор заявки'
      style: simple
      schema:
        type: integer
        format: int64
        description: 'Идентификатор заявки'
      example: 93713183
    path_Portfolio_FOND:
      deprecated: false
      required: true
      name: portfolio
      in: path
      description: 'Идентификатор клиентского портфеля'
      schema:
        type: string
        description: 'Идентификатор клиентского портфеля'
      example: D39004
    path_Portfolio_FORTS:
      deprecated: false
      required: true
      name: portfolio
      in: path
      description: 'Идентификатор клиентского портфеля'
      schema:
        type: string
        description: 'Идентификатор клиентского портфеля'
      example: 7500GHC
    path_StopOrderId:
      deprecated: false
      required: true
      name: stopOrderId
      in: path
      description: 'Идентификатор заявки'
      schema:
        type: integer
        format: int64
        description: 'Идентификатор заявки'
      example: 18946369167
    path_Symbol:
      deprecated: false
      required: true
      name: symbol
      in: path
      description: 'Тикер (Код финансового инструмента)'
      style: simple
      schema:
        type: string
        description: 'Тикер (Код финансового инструмента)'
      example: SBER
    path_Symbols:
      deprecated: false
      required: true
      name: symbols
      in: path
      description: 'Принимает несколько пар биржа-тикер. Пары отделены запятыми. Биржа и тикер разделены двоеточием'
      schema:
        type: string
        description: 'Принимает несколько пар биржа-тикер. Пары отделены запятыми. Биржа и тикер разделены двоеточием'
        example: MOEX:SBER,MOEX:GAZP,SPBX:AAPL
      example: MOEX:SBER,MOEX:GAZP,SPBX:AAPL
    path_TradeServerCode:
      deprecated: true
      required: true
      name: tradeServerCode
      in: path
      description: |
        Устаревшее поле, может быть удалено в дальнейших обновлениях.
        
        Код торгового сервера
      schema:
        type: string
        description: |
          Устаревшее поле, может быть удалено в дальнейших обновлениях.
          
          Код торгового сервера
      example: TRADE
    # Query parameters
    query_CfiCode_Optional:
      deprecated: false
      required: false
      name: cficode
      in: query
      description: 'Код финансового инструмента по стандарту ISO 10962'
      schema:
        type: string
        description: 'Код финансового инструмента по стандарту ISO 10962'
      example: EXXXXX
    query_CountBack_Optional:
      deprecated: false
      required: false
      name: countBack
      in: query
      description: |
[...]
